
<!DOCTYPE html>
<html ng-app="crudApp">
<head>
	<meta charset="UTF-8">
	<title>AngularJS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Include Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<!-- Include main CSS -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<!-- Include jQuery library -->
	<script src="js/jQuery/jquery.min.js"></script>
	<!-- Include AngularJS library -->
	<script src="lib/angular/angular.min.js"></script>
	<!-- Include Bootstrap Javascript -->
	<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container" ng-controller="DbController">
		<!-- Form used to add new entries of employee in database -->
		<div class="col-md-4 col-md-offset-4">
		</div>
		<div class="col-md-4 col-md-offset-4">
			<form class="form-horizontal alert alert-success" name="empList" id="empForm" ng-submit="login(empInfo);" >
				<h3 class="text-center">Login System</h3>
				<div class="form-group">
					<label for="Email">Email:</label>
					<input type="email" name="emp_email" class="form-control" placeholder="Enter Email" ng-model="empInfo.email" autofocus required />
				</div>
				<div class="form-group">
					<p class="text-danger" ng-show="empList.emp_email.$error.required">Email field is Empty!</p>
					<p class="text-danger" ng-show="empList.emp_email.$error.email">Invalid Email!</p>
				</div>
				<div class="form-group">
					<label for="Password">Password:</label>
					<input type="password" name="emp_password" class="form-control" placeholder="Enter Password" ng-model="empInfo.password" autofocus required />		
				</div>
				<div class="form-group">
					<p class="text-danger" ng-show="empList.emp_password.$error.required">Password field is Empty!</p>
				</div>
				<div class="form-group">
					<button class="btn btn-success" ng-disabled="empList.$invalid">Login</button>
				</div>
			</form>
		</div>
		<div class="col-md-4 col-md-offset-4">
		</div>

		<!-- Include controller -->
		<script src="js/angular-script.js"></script>
	</body>
	</html>